/* apply.css */

/* main 요소의 배경색 설정 */
main {
    background-color: #000;
}

/* 이미지 섹션의 스타일 설정 */
.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 이미지 너비 조정 클래스 */
.images img.width-85 {
    width: 85%;
}

.images img.width-100 {
    width: 100%;
}

/* 모든 이미지 숨기기 설정 */
.pc-only,
.mobile-only,
.tab-only {
    display: none;
}

/* 대형 화면에 PC 이미지 표시 */
@media (min-width: 1025px) {
    .pc-only {
        display: block;
    }
}

/* 중형 화면에 태블릿 이미지 표시 */
@media (min-width: 768px) and (max-width: 1024px) {
    .tab-only {
        display: block;
    }
}

/* 작은 화면에 모바일 이미지 표시 */
@media (max-width: 767px) {
    .mobile-only {
        display: block;
    }
}

/* 이미지 버튼 스타일 설정 */
.image-buttons {
    display: flex;
    width: 100%; /* 부모 요소에 맞게 가로폭 조정 */
    margin-top: 20px; /* 위 여백 추가 */
}

.image-button {
    background-color: #000; /* 배경색 검정으로 설정 */
    border: none; /* 테두리 없애기 */
    cursor: pointer; /* 커서를 포인터로 설정하여 클릭 가능한 상태로 변경 */
    transition: background-color 0.3s; /* 배경색 변경 시 부드러운 전환 효과 추가 */
}

.image-button img {
    display: block;
    width: 177px;
    height: 69px;
}

/* 버튼에 호버 효과 추가 */
.image-button:hover {
    background-color: #333; /* 호버 시 약간 어둡게 변경된 검은색 배경 */
}

/* 토글 버튼 스타일 설정 */
.toggle-button {
    width: 177px;
    height: 69px;
    border: 2px solid #FE2C55;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    margin-bottom: 75px; /* 버튼 사이 간격 조정 */
    border-radius: 10px; /* 라운드 적용 */
    display: inline-block; /* 가로 배치를 위해 인라인 블록 요소로 변경 */
}

.toggle-button.selected {
    background-color: #FE2C55;
    color: white;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }
  
  input[type='radio']:checked {
    background-color: #FE2C55;
    border: 3.37px solid #000;
    box-shadow: 0 0 0 1.6px #FE2C55;
  }

[type="radio"] {
    accent-color: red;
  }

.radio-label {
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}
/* 모바일에서 토글 및 라디오 버튼 크기 설정 */
.toggle-button.mobile-size{
    margin-bottom: 11px;
    width: 48%;
    height: 50px;
    border: 1.5px solid #FE2C55;
}
.radio-button.mobile-size{
    width: 13px;
    margin-top: 58px; /* 버튼 사이 간격 조정 */
    justify-content: center;
    height: 13px;
}
.radio-label.mobile-size {
    width: 15px;
    font-size: 16px;
    height: 13px;
    justify-content: center;
}
@media (max-width: 767px) {
    .toggle-buttons.mobile-only {
        display: flex;
        flex-wrap: wrap; /* 버튼이 두 줄로 나눠지도록 설정 */
        justify-content: space-between; /* 버튼 사이 간격 조정 */
    }
}
/* 태블릿에서 토글 및 라디오 버튼 크기 설정 */
.toggle-button.tab-size{    
    margin: 20px; /* 버튼 사이 간격 조정 */
    width: 152px;
    height: 59px;
    font-size: 22px;
}
.radio-button.tab-size{
    margin-top: 48px; /* 버튼 사이 간격 조정 */
    width: 17px;
    height: 17px;
}
.radio-label.tab-size {
    width: 152px;
    height: 55px;
    font-size: 22px;
}
