body {
    font-family: Arial, sans-serif;
}

.faq-container {
    width: 100%;
}

.faq-item {
    width: 58%;
    margin: auto;
    padding-top: 31.5px;
    padding-bottom: 31.5px;
    position: relative;
}
.faq-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #FE2C55 0%, #8998A8 54%, #25F4EE 100%);
}
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 32px;
    font-size: 23px;
    font-weight: bold;
    background-color: #000;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #000;
}

.faq-answer {
    display: none;
    background-color: #000;
    margin-left: 28.5px;
    margin-top: 23.5px;
    font-size: 18px; /* 변경된 폰트 크기 */
    color: #25F4EE; /* 변경된 폰트 색상 */
}

/* 이미지 섹션의 스타일 설정 */
.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 이미지 너비 조정 클래스 */
.images img.width-85 {
    width: 85%;
}

.images img.width-100 {
    width: 100%;
}

/* 대형 화면에 PC 이미지 표시 */
@media (min-width: 1025px) {
    .pc-only {
        display: block;
    }
    .tab-only, .mobile-only {
        display: none;
    }
}

/* 중형 화면에 태블릿 이미지 표시 */
@media (min-width: 768px) and (max-width: 1024px) {
    .tab-only {
        display: block;
    }
    .pc-only, .mobile-only {
        display: none;
    }
}

/* 작은 화면에 모바일 이미지 표시 */
@media (max-width: 767px) {
    .mobile-only {
        display: block;
    }
    .pc-only, .tab-only {
        display: none;
    }
}

/* 대형 화면에서만 PC 버튼 표시 */
@media (min-width: 1025px) {
    #faq-link-pc {
        display: block;
    }
    #faq-link-tab, #faq-link-mobile {
        display: none;
    }
}

/* 중형 화면에서만 탭 버튼 표시 */
@media (min-width: 768px) and (max-width: 1024px) {
    #faq-link-tab {
        display: block;
    }
    #faq-link-pc, #faq-link-mobile {
        display: none;
    }
}

/* 작은 화면에서만 모바일 버튼 표시 */
@media (max-width: 767px) {
    #faq-link-mobile {
        display: block;
    }
    #faq-link-pc, #faq-link-tab {
        display: none;
    }
}

/* FAQ 스타일 - 태블릿 */
@media (min-width: 768px) and (max-width: 1024px) {
    .faq-item {
        width: 80%;
        padding-bottom: 23px;
        margin: auto;
    }

    .faq-question {
        font-size: 20px;
        margin-right: 6px;
    }

    .faq-answer {
        font-size: 15px;
        margin-left: 35px;
        margin-bottom: 14px;
    }
}

/* FAQ 스타일 - 모바일 */
@media (max-width: 767px) {
    .faq-item {
        width: 90%; /* 모바일에서는 너비를 90%로 설정 */
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;
    }

    .faq-question {
        font-size: 19px;
        margin-right: 20px;
    }

    .faq-answer {
        font-size: 14px;
        margin-left: 15px;
        margin-top: 10px;
    }
}